<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Edit Task</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="updateForm" class="edit-form">
      <mat-form-field class="field-full-width">
        <span class="label">Task </span>
        <input matInput placeholder="Task title" formControlName="task" #task>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="startpicker" placeholder="Task Start Date" formControlName="startdate" #startdate>
        <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
        <mat-datepicker #startpicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
          <input matInput [matDatepicker]="endpicker" placeholder="Task End date" formControlName="enddate" #enddate>
          <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
          <mat-datepicker #endpicker></mat-datepicker>
      </mat-form-field>  
      <mat-form-field class="field-full-width">
          <span class="label">Parent </span>
          <mat-select placeholder="Parent Task" name="parent" formControlName="parent" #parent>
              <mat-option *ngFor="let myparent of parents" [value]="myparent._id">
                {{myparent.task}}
              </mat-option>
            </mat-select>  
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput type="number" placeholder="Priority" formControlName="priority" #priority>
        <mat-slider min="1" max="30" step="1" thumbLabel formControlName="priority"  #priority></mat-slider>
 
      </mat-form-field>
      
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/view">Back</button>
      <button type="submit" (click)="updateTask(task.value, startdate.value, enddate.value, priority.value, parent.value)" [disabled]="updateForm.prestine || updateForm.invalid || updateForm.disabled" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>
</div>
